.updateFormContainer {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.formContainer {
  width: 600px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

.inputField {
  height: 28px;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 2px solid orange;
}

.heading {
  color: orange;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.button {
  height: 28px;
  font-size: 20px;
  font-weight: 400;
  width: 200px;
  background-color: orange;
  color: white;
  border: none;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: black;
}

.errorMessage {
  color: orange;
  margin-left: 20px;
}
.updateInputFields {
  width: 100%;
}
@media (max-width: 480px) {
  .formContainer {
    width: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
  }
}
.btnGroup {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
